@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h2{
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
    margin-bottom: 15px
}

nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
    margin-bottom: 20px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    height: 80px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 80px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
nav ul li a.active {
    background: red;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

nav ul li a.active:hover {
    background: white;
    color: red;
}

nav .logout {
    float: right;
    margin-right: 20px;
}

nav .logout li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav .logout li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav .logout li a {
    color: white;
    background-color: red;
}

a.logout,a:hover{
    background: #1b9bff;
    transition: .5s;
}

nav .logout li a:hover {
    background: white;
    color: red;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


.container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    margin: auto;
    margin-top: 15px
}
.container .title{
    font-size: 25px;
    font-weight: 800;
    position: relative;
    text-align: center;
}

.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.content form .verifybutton{
    display: flex;
    justify-content: space-between;
    margin: 25px 5px 18px 5px;
    width: calc(100% / 2 - 20px);
}

.content form .verifybutton #verifyButton{
	    cursor: pointer;
    transition: all 0.3s ease;
    background: gray;
        color: #fff;
        border: none;
        border-radius: 5px;
}

.content form .verifybutton #verifyButton:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}


form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}

select {
    width: 100%; /* Set the width to 100% to match other input boxes */
    padding: 8px; /* Adjust padding as needed */
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .category{
    display: flex;
    width: 80%;
    margin: 14px 0 ;
    justify-content: space-between;
}
form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    background: #9b59b6;
    border-color: #d9d9d9;
}
form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin: 35px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form .button input:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}


form p{
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}


.center-img{
    max-width: 15%;
    height: auto;
    margin-top: 90px;
    margin-left: 40%;
    animation: rotate 60s linear infinite;
}

.company{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 80px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}



@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.dir-appoint{
    background: rgb(81,72,222);
    background: linear-gradient(180deg, rgba(81,72,222,1) 0%, rgba(128,212,230,1) 100%);
    padding: 20px; 
    margin-top: 25px;
    text-align: center;
    height: 50%;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}

.dir-appoint h1{
    color: #d4d4d4;
    font-size: 60px;
    line-height: 80px;
    padding: 0 80px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}

.dir-appoint p{
    color: black;
    padding-top: 25px;
    font-size: 24px;
}

.dir-appoint i{
    color: black;
    padding-top: 25px;
    font-size: 14px;
    text-transform: lowercase;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid transparent; /* Set border to transparent */
    padding: 10px;
    text-align: left;
}

th {
    background-color: rgba(242, 242, 242, 0.7); /* Transparent light gray */
}

td {
    background-color: rgba(255, 255, 255, 0.7); /* Transparent white */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

tr:hover td {
    background-color: rgba(245, 245, 245, 0.7); /* Slightly darker transparent white on hover */
}


/*dfsd*/
.footer-distributed{
    background: #666;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 35%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 40%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 5px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  lightseagreen;
    text-decoration: none;;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */


.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 50vh;
}

.dashboard-button {
    padding: 15px;
    height: 20%;
    width: 55%;
    margin: auto;
    font-size: 24px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.dashboard-button:hover {
    background-color: #45a049;
}



/*popfm*/

.show-btn{
  background: #fff;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  color: #3498db;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.show-btn, .popup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"]{
  display: none;
}
.popup{
  display: none;
  background: #fff;
  width: 410px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
#show:checked ~ .popup{
  display: block;
}
.popup .close-btn{
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}
.popup .close-btn:hover{
  color: #3498db;
}
.popup .text{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.popup form{
  margin-top: -20px;
}
.popup form .data{
  height: 45px;
  width: 100%;
  margin: 40px 0;
}
form .data label{
  font-size: 18px;
}
form .data input{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
}
form .data input:focus{
  border-color: #3498db;
  border-bottom-width: 2px;
}
form .forgot-pass{
  margin-top: -8px;
}
form .forgot-pass a{
  color: #3498db;
  text-decoration: none;
}
form .forgot-pass a:hover{
  text-decoration: underline;
}
form .btn{
  margin: 30px 0;
  height: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
form .btn .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  z-index: -1;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
}
form .btn:hover .inner{
  left: 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
/*popfm*/

@media screen and (max-width: 600px) {
    .dashboard-button {
        width: 100%;
    }
}


@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}
/*sdfs*/


@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 1100px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}

@media(max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .category{
        width: 100%;
    }
    .content form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 5px;
    }
}
@media(max-width: 459px){
    .container .content .category{
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    thead {
        display: none; /* Hide table headers on small screens */
    }

    tr {
        display: block;
        border-bottom: 1px solid #ddd; /* Add a border between rows */
        margin-bottom: 10px; /* Add space between rows */
        border: 5px solid black;
    }

    td, th {
        display: block;
        width: 100%;
        box-sizing: border-box;
        border: 0.5px solid black;
    }

    tr:hover {
        background-color: wheat; /* Slightly darker transparent white on hover */
    }

    td::before, th::before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
        margin-bottom: 5px; /* Add space between label and data on small screens */
    }
}
